/target
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.postrm.debhelper
/debian/memguard/
/debian/memguard-system-tune/

# Bundled ananicy-cpp build artifacts
/system-tune/ananicy-cpp/ananicy-cpp
/system-tune/ananicy-cpp/.build/
