Package: memguard-dbgsym
Package-Type: ddeb
Source: memguard
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: sevheng <sevheng@users.noreply.github.com>
Installed-Size: 1209
Depends: memguard (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for memguard
Build-Ids: ce3f6ad81818f4660e3f8b5c1432aab5694001b6
