[Unit]
Description=One-time memguard system tuning
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/memguard-system-tune
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
